<p>server {{serverId}} is {{getServerStatus()}}  </p>
<hr>
<h2>{{createdServer +":  "+ serverCount}}</h2>

<button
[disabled]="!allowAddServer"
(click)="onAddServerClick()"
 class="btn btn-primary">AddServer</button>

 <hr>
 <input type="text" [(ngModel)]="serverName">
 <h2>{{serverName}}</h2>

 <hr>
 <!-- <p *ngIf="isServerCreated;else noServer">server created </p>
 <ng-template #noServer> <p>No server Created</p></ng-template> -->

 @if (isServerCreated) {
  <p [ngStyle]="serverStyle">server created </p>
 }@else{
  <p [ngClass]="serverClassStyle">No server Created</p>
 }

 <hr>
 <!-- <div *ngFor="let server of servers">
  <h3>{{server}}</h3>
  <hr>
 </div> -->

 @for (server of servers; track $index) {
  <h3>{{server}}</h3>
  <hr>
 }

