<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{ allowEdit: 1, firstTime: true }"
        class="list-group-item"
        *ngFor="let server of servers"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-md-12">
    <!-- <app-edit-server></app-edit-server> -->
    <hr />
    <router-outlet></router-outlet>
    <!-- <app-individul-server></app-individul-server> -->
  </div>
</div>
