<div class="container mt-5">
  <h2 class="text-center mb-4">Add New Product</h2>
  <form>
      <div class="mb-3">
          <label for="productName" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="productName" placeholder="Enter product name" [(ngModel)]="product.title" name="title">
      </div>
      <div class="mb-3">
          <label for="productPrice" class="form-label">Price</label>
          <input type="number" class="form-control" id="productPrice" placeholder="Enter price"  [(ngModel)]="product.price" name="price">
      </div>
      <div class="mb-3">
          <label for="productDescription" class="form-label">Description</label>
          <textarea class="form-control" id="productDescription" rows="3" placeholder="Enter product description"   [(ngModel)]="product.description" name="description"></textarea>
      </div>
      <button type="button" class="btn btn-primary" (click)="onAddProduct()">Add Product</button>
  </form>
</div>
