<div class="row">

  <div class="mb-3 col-6">
    <label for="serverName" class="form-label">server Name</label>
    <input type="text" class="form-control" id="serverName" placeholder="Enter text"  [(ngModel)]="serverName">
  </div>
  <div class="mb-3 col-6">
    <label for="serverType" class="form-label">server Type</label>
    <input type="text" class="form-control" id="serverType" placeholder="Enter text" [(ngModel)]="serverType">
  </div>
  <div class="col-6"><button class="btn btn-primary" (click)="onAddServer()"> Add</button></div>
  <div class="col-6"><button class="btn btn-danger"(click)="onRemoveServer()"> remove</button></div>


  </div>
